*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* =============
custom properties
============= */

:root {
  /* colors */
  --clr-base-100: hsl(32, 57%, 95%);
  --clr-base-500: hsl(249, 22%, 12%);
  --clr-surface-100: hsl(35, 100%, 98%);
  --clr-surface-500: hsl(247, 23%, 15%);
  --clr-overlay-100: hsl(33, 43%, 91%);
  --clr-overlay-500: hsl(248, 25%, 18%);
  --clr-muted-400: hsl(257, 9%, 61%);
  --clr-muted-500: hsl(249, 12%, 47%);
  --clr-subtle-500: hsl(248, 15%, 61%);
  --clr-subtle-600: hsl(248, 12%, 52%);
  --clr-text-500: hsl(245, 50%, 91%);
  --clr-text-900: hsl(248, 19%, 40%);
  --clr-love-500: hsl(343, 76%, 68%);
  --clr-love-700: hsl(343, 35%, 55%);
  --clr-gold-500: hsl(35, 88%, 72%);
  --clr-gold-700: hsl(35, 81%, 56%);
  --clr-rose-500: hsl(2, 55%, 83%);
  --clr-rose-700: hsl(3, 53%, 67%);
  --clr-pine-500: hsl(197, 49%, 38%);
  --clr-pine-700: hsl(197, 53%, 34%);
  --clr-foam-500: hsl(189, 43%, 73%);
  --clr-foam-800: hsl(189, 30%, 48%);
  --clr-iris-500: hsl(267, 57%, 78%);
  --clr-iris-700: hsl(268, 21%, 57%);
  --clr-highlight-low-100: hsl(25, 35%, 93%);
  --clr-highlight-medium-100: hsl(10, 9%, 86%);
  --clr-highlight-high-100: hsl(315, 4%, 80%);
  --clr-highlight-low-500: hsl(244, 18%, 15%);
  --clr-highlight-medium-500: hsl(249, 15%, 28%);
  --clr-highlight-high-500: hsl(248, 13%, 36%);
  /* fonts */
  --ft-primary: 'Inter', sans-serif;
  --ft-secondary: 'Montserrat', sans-serif;
  /* color assignment */
  --clr-base: var(--clr-base-100);
  --clr-surface: var(--clr-surface-100);
  --clr-overlay: var(--clr-overlay-100);
  --clr-muted: var(--clr-muted-400);
  --clr-subtle: var(--clr-subtle-600);
  --clr-text: var(--clr-text-900);
  --clr-text-subtle: var(--clr-text-900);
  --clr-love: var(--clr-love-700);
  --clr-gold: var(--clr-gold-700);
  --clr-rose: var(--clr-rose-700);
  --clr-pine: var(--clr-pine-700);
  --clr-foam: var(--clr-foam-800);
  --clr-iris: var(--clr-iris-700);
  --clr-highlight-low: var(--clr-highlight-low-100);
  --clr-highlight-med: var(--clr-highlight-medium-100);
  --clr-highlight-high: var(--clr-highlight-high-100);
  /* values */
  --max-width: 1150px;
  --border-01: 0.25rem;
  --border-02: 0.5rem;
  --border-03: 0.75rem;
  --transition-01: all 0.25s ease-in-out;
}

.dark-mode {
  --clr-base: var(--clr-base-500);
  --clr-surface: var(--clr-surface-500);
  --clr-overlay: var(--clr-overlay-500);
  --clr-muted: var(--clr-muted-500);
  --clr-subtle: var(--clr-subtle-500);
  --clr-text: var(--clr-text-500);
  --clr-text-subtle: var(--clr-subtle);
  --clr-love: var(--clr-love-500);
  --clr-gold: var(--clr-gold-500);
  --clr-rose: var(--clr-rose-500);
  --clr-pine: var(--clr-pine-500);
  --clr-foam: var(--clr-foam-500);
  --clr-iris: var(--clr-iris-500);
  --clr-highlight-low: var(--clr-highlight-low-500);
  --clr-highlight-med: var(--clr-highlight-medium-500);
  --clr-highlight-high: var(--clr-highlight-high-500);
}

body {
  color: var(--clr-text);
  font-family: var(--ft-primary);
  font-weight: 400;
  background-color: var(--clr-base);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--ft-secondary);
  font-family: 600;
  text-transform: capitalize;
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  object-fit: cover;
}

ul {
  list-style-type: none;
}

.navbar,
.hero-container,
.projects-container,
.contact-container,
.footer-container {
  width: 90vw;
  max-width: var(--max-width);
  margin-inline: auto;
}

.hero__title,
.projects__title,
.contact__title {
  text-align: center;
}

.projects__title,
.contact__title {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}

/* =============
nav
============= */

/* navbar */
.navbar {
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 0.25rem;
}

.navbar__logo-link {
  display: flex;
  align-items: center;
  gap: 0.35rem;
  height: 1.35rem;
}

.navbar__logo-icon {
  height: 100%;
}

.navbar__logo-icon path {
  fill: var(--clr-foam);
}

.navbar__logo-text {
  color: var(--clr-text);
  font-size: 1.2rem;
  font-weight: 800;
  text-transform: capitalize;
}

.navbar__list {
  display: none;
}

.navbar__toggle-btn {
  width: 1.75rem;
  height: 1.75rem;
  display: grid;
  place-items: center;
  background-color: var(--clr-highlight-med);
  border-color: transparent;
  border-radius: var(--border-01);
  cursor: pointer;
  transition: var(--transition-01);
}

.navbar__toggle-btn:hover {
  background-color: var(--clr-highlight-high);
}

.navbar__toggle-icon {
  height: 1.2rem;
}

.navbar__toggle-icon path {
  fill: var(--clr-text-subtle);
}

@media screen and (min-width: 768px) {
  .navbar__list {
    display: flex;
    gap: 1rem;
  }

  .navbar__link {
    color: var(--clr-text-subtle);
    padding: 0.25rem 0.5rem;
    transition: var(--transition-01);
  }

  .navbar__link:hover {
    background-color: var(--clr-highlight-med);
    border-radius: var(--border-01);
  }

  .navbar__toggle-btn {
    display: none;
  }
}

/* =============
menu
============= */

.menu {
  display: none;
}

.menu--display {
  display: grid;
  place-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.menu-overlay {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: var(--clr-overlay);
  opacity: 0.5;
}

.menu-list {
  display: grid;
  gap: 1rem;
  width: 90vw;
  background-color: var(--clr-surface);
  border: 1px solid var(--clr-highlight-med);
  border-radius: var(--border-03);
  margin-inline: auto;
  z-index: 999;
  padding: 1rem;
}

.menu-sublist__title {
  color: var(--clr-text-subtle);
  font-size: 0.75rem;
  margin-bottom: 1rem;
}

.menu-sublist-container {
  display: grid;
  gap: 0.5rem;
}

.menu-sublist__icon {
  width: 1.15rem;
  height: 1.15rem;
  stroke: var(--clr-text-subtle);
}

.menu-sublist__link {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  color: var(--clr-text);
  font-size: 0.875rem;
  font-weight: 500;
  border-radius: var(--border-01);
  padding: 0.25rem;
  transition: var(--transition-01);
}

.menu-sublist__link:hover {
  background-color: var(--clr-overlay);
}

/* =============
hero section
============= */

.hero {
  display: grid;
  place-items: center;
  height: calc(100vh - 4rem);
}

.hero__title {
  font-size: 2.5rem;
  text-transform: none;
  margin-bottom: 1rem;
}

.hero__copy {
  font-size: 1.15rem;
  text-align: center;
  line-height: 1.5;
}

/* =============
projects section
============= */

.projects-container {
  margin-block: 5rem;
}

.projects__copy {
  width: 85%;
  color: var(--clr-text-subtle);
  text-align: center;
  margin-inline: auto;
  margin-bottom: 1rem;
}

.projects__status-container {
  width: 18.5rem;
  display: flex;
  justify-content: space-between;
  margin-inline: auto;
  margin-bottom: 3rem;
}

.projects__icon {
  width: 1.1rem;
  height: 1.1rem;
  stroke: var(--clr-foam);
}

.projects__status {
  display: flex;
  align-items: center;
  gap: 0.35rem;
  color: var(--clr-iris);
  font-size: 0.875rem;
}

.project {
  border: 0.1rem solid var(--clr-surface);
  border-radius: var(--border-03);
  padding: 1rem;
}

.project__img-container {
  position: relative;
  margin-bottom: 1rem;
}

.project__img {
  height: 10rem;
}

.project-overlay {
  width: 100%;
  height: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--clr-overlay);
  opacity: 0;
  transition: var(--transition-01);
}

.project__img-container:hover .project-overlay {
  opacity: 0.75;
}

.project-overlay-container {
  width: 100%;
  height: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  place-content: center;
  opacity: 0;
  transition: var(--transition-01);
}

.project__img-container:hover .project-overlay-container {
  opacity: 1;
}

.project-overlay__title {
  color: var(--clr-text);
  font-size: 0.875rem;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

.project__title {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.project__copy {
  color: var(--clr-text-subtle);
  font-size: 0.9rem;
  margin-bottom: 0.75rem;
}

.languages__btn {
  color: var(--clr-text-subtle);
  font-size: 0.85rem;
  background-color: var(--clr-highlight-med);
  border-color: transparent;
  border-radius: var(--border-01);
  padding: 0.1rem 0.2rem;
  cursor: pointer;
}

.languages__btn--html {
  color: var(--clr-foam);
}

.languages__btn:hover {
  background-color: var(--clr-highlight-high);
}

.actions {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.actions__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.8rem;
  font-weight: 400;
  text-transform: uppercase;
  border-radius: var(--border-01);
  padding-block: 0.15rem;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}

.actions__btn--primary {
  color: var(--clr-base);
  background-color: var(--clr-love);
  border-color: transparent;
}

.actions__btn--secondary {
  color: var(--clr-love);
  border: 0.1rem solid var(--clr-love);
  background-color: transparent;
}

.actions__btn-icon-container {
  overflow: hidden;
}

.actions__btn-icon {
  width: 1rem;
  height: 1rem;
}

.actions__btn--primary .actions__btn-icon {
  stroke: var(--clr-base);
}

.actions__btn--secondary .actions__btn-icon {
  stroke: var(--clr-love);
}

.actions__btn:hover .actions__btn-icon {
  animation: animateActionBtnIcon 0.5s;
}

/* =============
contact section
============= */

.contact-container {
  margin-block: 5rem;
}

.contact__title {
  font-size: 2.5rem;
}

.contact__icon {
  height: 2rem;
  fill: var(--clr-gold);
  transform: rotate(-10deg);
  animation: animateContactIcon 0.35s linear 2;
}

@keyframes animateContactIcon {
  0% {
    transform: rotate(0);
  }

  50% {
    transform: rotate(10deg);
  }

  100% {
    transform: rotate(-10deg);
  }
}

.contact__email {
  color: var(--clr-text-subtle);
  text-align: center;
  margin-bottom: 1rem;
}

.contact__socials {
  display: grid;
  grid-template-columns: repeat(3, 1.75rem);
  justify-content: center;
  gap: 0.5rem;
  margin-inline: auto;
}

.contact__social-link {
  width: 1.75rem;
  height: 1.75rem;
  display: grid;
  place-items: center;
  border-radius: var(--border-01);
}

.contact__social-link:hover {
  background-color: var(--clr-highlight-med);
}

.contact__social-icon {
  width: 1.5rem;
  height: 1.5rem;
  stroke: var(--clr-text-subtle);
}

@keyframes animateActionBtnIcon {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-100%);
  }

  51% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0);
  }
}

/* =============
footer
============= */

.footer {
  margin-bottom: 3rem;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-copy {
  color: var(--clr-text-subtle);
  font-size: 0.85rem;
}

.footer-socials__link {
  width: 1.5rem;
  height: 1.5rem;
  display: grid;
  place-content: center;
  border-radius: var(--border-01);
}

.footer-socials__link:hover {
  background-color: var(--clr-highlight-med);
}

.footer-socials__icon {
  height: 1.15rem;
  stroke: var(--clr-text);
}
