*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* =============
custom properties
=============*/

:root {
  /* fonts */
  --ft-primary: 'Poppins', sans-serif;
  /* colors */
  --clr-primary-200: hsl(245, 50%, 91%);
  --clr-primary-400: hsl(248, 15%, 61%);
  --clr-primary-500: hsl(249, 12%, 47%);
  --clr-primary-700: hsl(248, 25%, 18%);
  --clr-primary-800: hsl(247, 23%, 15%);
  --clr-primary-900: hsl(249, 22%, 12%);
  --clr-secondary-500: hsl(267, 57%, 78%);
  --clr-tertiary-500: hsl(197, 49%, 38%);
  --clr-highlight-low: hsl(244, 18%, 15%);
  --clr-highlight-med: hsl(249, 15%, 28%);
  --clr-highlight-high: hsl(248, 13%, 36%);
  --clr-white: #e0def4;
  /* other */
  --border-01: 0.25rem;
  --border-02: 0.5rem;
  --border-03: 0.75rem;
  --border-pill: 100vmax;
  --transition-01: all 0.25s ease-in-out;
  --transition-02: all 0.45s ease-in-out;
  --outline-01: 0.15rem solid var(--clr-highlight-high);
  --clr-text: var(--clr-white);
  --clr-main-bg: var(--clr-primary-900);
}

body {
  font-family: var(--ft-primary);
  background-color: var(--clr-main-bg);
}

img {
  width: 100%;
}

.loading {
  width: 10rem;
  height: 10rem;
  grid-column: 1 / -1;
  border: 0.5rem solid transparent;
  border-top: 0.5rem solid var(--clr-highlight-high);
  border-radius: 50%;
  margin-inline: auto;
  animation: rotateLoading 1s linear infinite;
}

@keyframes rotateLoading {
  0% {
    transform: rotate(0);
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.error-message {
  grid-column: 1 / -1;
  color: var(--clr-primary-400);
  text-align: center;
  font-style: italic;
}

/* =============
wikipedia section
=============*/

.wikipedia {
  width: 90%;
  max-width: 1150px;
  margin-block: 5rem;
  margin-inline: auto;
}

.wikipedia__logo-container {
  width: 12rem;
  margin-inline: auto;
}

.wikipedia__title {
  color: var(--clr-text);
  font-weight: 600;
  text-align: center;
}

.wikipedia__form {
  margin-bottom: 4rem;
}

.wikipedia__search-container {
  position: relative;
  max-width: 27rem;
  display: flex;
  margin-inline: auto;
  background-color: var(--clr-primary-800);
  border-radius: var(--border-pill);
}

.wikipedia__search-input {
  width: 100%;
  color: var(--clr-highlight-high);
  font-size: 0.875rem;
  background-color: transparent;
  border-color: transparent;
  border-radius: var(--border-pill);
  padding-block: 0.5rem;
  padding-inline: 1rem 6rem;
  transition: var(--transition-01);
}

.wikipedia__search-input:focus {
  outline: none;
  border: 0.15rem solid var(--clr-highlight-high);
  border-right: transparent;
}

.wikipedia__search-btn {
  height: 100%;
  position: absolute;
  right: -0.2rem;
  top: 0;
  color: var(--clr-primary-400);
  background-color: var(--clr-primary-700);
  border-color: transparent;
  border-radius: var(--border-pill);
  outline: none;
  padding-inline: 1rem;
  cursor: pointer;
  transition: var(--transition-01);
}

.wikipedia__search-btn:hover {
  background-color: var(--clr-highlight-low);
}

.wikipedia__search-btn:focus {
  outline: none;
  border: 0.15rem solid var(--clr-highlight-high);
}

.wikipedia__results {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 2rem;
}

.result {
  height: 100%;
  background: linear-gradient(
    to bottom right,
    var(--clr-primary-700),
    var(--clr-primary-800)
  );
  border-radius: var(--border-03);
  padding: 2rem;
}

.result:hover {
  background: linear-gradient(
    to bottom right,
    var(--clr-primary-800),
    var(--clr-primary-900)
  );
}

.result__link {
  text-decoration: none;
}

.result__link:focus {
  outline: none;
  border: var(--outline-01);
  border-radius: var(--border-03);
}

.result__title {
  color: var(--clr-primary-500);
  font-weight: 600;
  margin-bottom: 1rem;
}

.result__summary {
  color: var(--clr-text);
  line-height: 1.5;
}
