@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* =============
custom properties
=============*/

:root {
  /* fonts */
  --ft-primary: 'Poppins', sans-serif;
  --ft-secondary: 'Kaushan Script', cursive;
  /* colors */
  --clr-primary-200: hsl(245, 50%, 91%);
  --clr-primary-400: hsl(248, 15%, 61%);
  --clr-primary-500: hsl(249, 12%, 47%);
  --clr-primary-700: hsl(248, 25%, 18%);
  --clr-primary-800: hsl(247, 23%, 15%);
  --clr-primary-900: hsl(249, 22%, 12%);
  --clr-secondary-500: hsl(267, 57%, 78%);
  --clr-tertiary-500: hsl(197, 49%, 38%);
  --clr-highlight-low: hsl(244, 18%, 15%);
  --clr-highlight-med: hsl(249, 15%, 28%);
  --clr-highlight-high: hsl(248, 13%, 36%);
  --clr-white: #e0def4;
  /* other */
  --max-width: 1170px;
  --border-01: 0.25rem;
  --border-02: 0.5rem;
  --border-03: 0.75rem;
  --border-pill: 100vmax;
  --transition-01: all 0.25s ease-in-out;
  --transition-02: all 0.45s ease-in-out;
  --outline-01: 0.15rem solid var(--clr-highlight-high);
  --clr-text: var(--clr-white);
  --clr-main-bg: var(--clr-primary-900);
}

body {
  font-family: var(--ft-primary);
  background-color: var(--clr-main-bg);
}

img {
  width: 100%;
}

/* =============
navbar
============= */
.nav {
  width: 100%;
  position: fixed;
}

.navbar {
  width: 90vw;
  max-width: var(--max-width);
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  margin-top: 0.5rem;
  margin-inline: auto;
}

@media screen and (min-width: 800px) {
  .navbar {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1024px) {
  .navbar {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.navbar__pages {
  display: none;
}

@media screen and (min-width: 800px) {
  .navbar__pages {
    height: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 2.85rem;
    align-items: center;
    list-style-type: none;
  }

  .navbar__page-link {
    color: var(--clr-text);
    font-size: 1.15rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
    text-decoration: none;
  }
}

.navbar__open-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.75rem;
  height: 2.25rem;
  color: var(--clr-text);
  font-size: 1.5rem;
  background-color: var(--clr-highlight-med);
  border-color: transparent;
  border-radius: var(--border-pill);
  transition: var(--transition-01);
  cursor: pointer;
}

.navbar__open-btn:hover {
  background-color: var(--clr-highlight-high);
}

@media screen and (min-width: 800px) {
  .navbar__open-btn {
    display: none;
  }
}

.navbar__logo-container {
  height: 4.9rem;
}

.navbar__logo {
  height: 100%;
}

.navbar__cart-btn-container {
  position: relative;
  justify-self: end;
}

.navbar__cart-btn {
  color: var(--clr-text);
  font-size: 1.5rem;
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
}

.navbar__cart-items {
  position: absolute;
  top: -1rem;
  right: -0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.75rem;
  height: 1.75rem;
  color: var(--clr-text);
  background-color: var(--clr-highlight-med);
  border-radius: 50%;
}

/* =============
hero section
============= */

.hero {
  background: linear-gradient(
      0deg,
      hsla(249, 22%, 12%, 0.7),
      hsla(249, 22%, 12%, 0.7)
    ),
    url(../images/main-bcg.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  height: 100vh;
  display: flex;
  align-items: center;
}

.hero-container {
  width: 90vw;
  max-width: var(--max-width);
  margin-inline: auto;
}

.hero__title {
  color: var(--clr-text);
  font-family: var(--ft-secondary);
  font-size: 3rem;
  margin-block: 0 1rem;
}

.hero__text {
  color: var(--clr-text);
  font-size: 1.4rem;
  line-height: 1.25;
  margin-bottom: 1.25rem;
}

.hero__shop-btn {
  color: var(--clr-text);
  font-size: 0.875rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  background-color: transparent;
  border: 0.1rem solid var(--clr-text);
  border-radius: var(--border-01);
  padding: 0.5rem 0.75rem;
  transition: var(--transition-01);
  cursor: pointer;
}

.hero__shop-btn:hover {
  color: var(--clr-highlight-med);
  background-color: var(--clr-text);
}

@media screen and (min-width: 800px) {
  .hero__title {
    font-size: 4.25rem;
  }

  .hero__text {
    font-size: 1.5rem;
  }

  .hero__shop-btn {
    font-size: 1rem;
    padding-block: 0.75rem;
  }
}

@media screen and (min-width: 992px) {
  .hero__title {
    font-size: 6rem;
  }

  .hero__text {
    font-size: 2.5rem;
  }

  .hero__shop-btn {
    font-size: 1rem;
    padding-block: 0.75rem;
  }
}
