*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* =============
Global Variables
=============*/

:root {
  /* fonts */
  --ft-primary: 'Poppins', sans-serif;
  /* colors */
  --clr-primary-200: hsl(245, 50%, 91%);
  --clr-primary-400: hsl(248, 15%, 61%);
  --clr-primary-500: hsl(249, 12%, 47%);
  --clr-primary-700: hsl(248, 25%, 18%);
  --clr-primary-800: hsl(247, 23%, 15%);
  --clr-primary-900: hsl(249, 22%, 12%);
  --clr-secondary-500: hsl(267, 57%, 78%);
  --clr-tertiary-500: hsl(35, 88%, 72%);
}

body {
  font-family: var(--ft-primary);
  background-color: var(--clr-primary-900);
}

/* =============
cocktails section
=============*/

.cocktails {
  margin-block: 5rem;
}

.cocktails__title {
  color: var(--clr-tertiary-500);
  text-align: center;
}

/* search form */
.cocktails__search-form {
  text-align: center;
  margin-bottom: 5rem;
}

.cocktails__search-input {
  width: 90vw;
  color: var(--clr-primary-400);
  font-size: 0.875rem;
  background-color: var(--clr-primary-800);
  padding: 0.25rem 1rem;
  border-color: transparent;
  border-radius: 3rem;
}

/* cocktail */
.cocktail__img {
  width: 100%;
}
