*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* =============
Global Variables
============= */
:root {
  /* fonts */
  --ft-primary: 'Poppins', sans-serif;
  /* primary colors */
  --clr-primary-100: #fff7cd;
  --clr-primary-200: #ffef9a;
  --clr-primary-300: #ffe868;
  --clr-primary-400: #ffe035;
  --clr-primary-500: #ffd803;
  --clr-primary-600: #ccad02;
  --clr-primary-700: #998202;
  --clr-primary-800: #665601;
  --clr-primary-900: #332b01;
  /* secondary colors */
  --clr-secondary-100: #f1fafa;
  --clr-secondary-200: #e3f6f6;
  --clr-secondary-300: #d6f1f1;
  --clr-secondary-400: #c8eded;
  --clr-secondary-500: #bae8e8;
  --clr-secondary-600: #95baba;
  --clr-secondary-700: #708b8b;
  --clr-secondary-800: #4a5d5d;
  --clr-secondary-900: #252e2e;
  /* tertiary colors */
  --clr-tertiary-100: #d4d3d9;
  --clr-tertiary-200: #a9a7b4;
  --clr-tertiary-300: #7d7b8e;
  --clr-tertiary-400: #524f69;
  --clr-tertiary-500: #272343;
  --clr-tertiary-600: #1f1c36;
  --clr-tertiary-700: #171528;
  --clr-tertiary-800: #100e1b;
  --clr-tertiary-900: #08070d;
  /* greys */
  --clr-grey-50: #fbfbfb;
  --clr-grey-100: #d5d6db;
  --clr-grey-200: #abadb7;
  --clr-grey-300: #818592;
  --clr-grey-400: #575c6e;
  --clr-grey-500: #2d334a;
  --clr-grey-600: #24293b;
  --clr-grey-700: #1b1f2c;
  --clr-grey-800: #12141e;
  --clr-grey-900: #090a0f;
  /* other colors */
  --clr-white: #fffffe;
  --clr-black: #222;
  /* other */
  --border-radius: 0.25rem;
}

html {
  font: 100%;
}

body {
  color: var(--clr-white);
  font-family: var(--ft-primary);
  font-weight: 400;
  background-color: var(--clr-tertiary-600);
}

.loading {
  display: flex;
  justify-content: center;
  position: relative;
  grid-column: 1 / -1;
  width: 100%;
  height: 100px;
  margin-inline: auto;
}

.loading::after {
  position: absolute;
  content: '';
  width: 100px;
  height: 100px;
  border: 10px solid var(--clr-tertiary-400);
  border-top: 10px solid var(--clr-secondary-500);
  border-radius: 50%;
  animation: rotateLoading 1s linear infinite;
}

@keyframes rotateLoading {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* =============
Products
============= */
.products {
  width: 90%;
  max-width: 1120px;
  margin-block: 6rem;
  margin-inline: auto;
}

.products__title-container {
  text-align: center;
  margin-bottom: 2rem;
}

.products__title {
  color: var(--clr-secondary-500);
  font-size: 2rem;
  font-weight: 600;
}

.products__title-underline {
  display: inline-block;
  width: 7.5rem;
  height: 0.25rem;
  background-color: var(--clr-primary-500);
}

@media screen and (min-width: 768px) {
  .products-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
    row-gap: 2.5rem;
  }
}

@media screen and (min-width: 1000px) {
  .products-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* product */
.product {
  margin-bottom: 2.5rem;
}

.product__link {
  color: var(--clr-white);
  text-decoration: none;
  transition: all 0.25s ease-in-out;
}

.product__link:hover {
  color: var(--clr-secondary-500);
}

.product__img {
  width: 100%;
  height: 15rem;
  object-fit: cover;
  border-radius: var(--border-radius);
  margin-bottom: 1rem;
}

.product__info {
  text-align: center;
}

.product__title {
  font-weight: 400;
  text-transform: capitalize;
  margin-bottom: 0.875rem;
}

.product__price {
  font-weight: 600;
}

@media screen and (min-width: 768px) {
  .product {
    margin-bottom: 0;
  }

  .product__img {
    height: 10rem;
  }

  .product__info {
    font-size: 0.875rem;
  }
}

/* =============
Single Product
============= */
.home-link {
  display: block;
  width: 10rem;
  color: var(--clr-tertiary-500);
  text-decoration: none;
  text-align: center;
  background-color: var(--clr-secondary-500);
  padding: 0.75rem 1rem;
  border-radius: var(--border-radius);
  margin-block: 2rem 5rem;
  margin-inline: auto;
  transition: all 0.25s ease-in-out;
}

.home-link:hover {
  background-color: var(--clr-secondary-400);
}

.single-product {
  width: 90vw;
  max-width: 1120px;
  margin-inline: auto;
  margin-bottom: 5rem;
}

@media screen and (min-width: 768px) {
  .single-product {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
  }
}

.single-product__img {
  width: 100%;
  height: 15rem;
  object-fit: cover;
  border-radius: var(--border-radius);
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 768px) {
  .single-product__img {
    height: 30rem;
    margin-bottom: 0;
  }

  .single-product__info {
    align-self: center;
  }
}

.single-product__title {
  color: var(--clr-secondary-500);
  font-size: 2rem;
  font-weight: 400;
  text-transform: capitalize;
  margin-bottom: 0.5rem;
}

.single-product__company {
  color: var(--clr-tertiary-100);
  font-size: 1.25rem;
  text-transform: capitalize;
  margin-bottom: 0.5rem;
}

.single-product__price {
  font-size: 1.15rem;
  margin-bottom: 0.5rem;
}

.single-product__colors {
  margin-bottom: 0.5rem;
}

.single-product__color {
  display: inline-block;
  width: 1.15rem;
  height: 1.15rem;
  border-radius: 50%;
  margin-right: 0.25rem;
}

.single-product__text {
  line-height: 1.75rem;
  margin-bottom: 1.5rem;
}

.single-product__cart-btn {
  font-size: 0.875rem;
  background-color: var(--clr-primary-500);
  padding: 0.5rem 1rem;
  border-color: transparent;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}

.single-product__cart-btn:hover {
  background-color: var(--clr-primary-300);
}
