*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* =============
custom properties
=============*/

:root {
  /* fonts */
  --ft-primary: 'Poppins', sans-serif;
  /* colors */
  --clr-primary-200: hsl(245, 50%, 91%);
  --clr-primary-400: hsl(248, 15%, 61%);
  --clr-primary-500: hsl(249, 12%, 47%);
  --clr-primary-700: hsl(248, 25%, 18%);
  --clr-primary-800: hsl(247, 23%, 15%);
  --clr-primary-900: hsl(249, 22%, 12%);
  --clr-secondary-500: hsl(267, 57%, 78%);
  --clr-tertiary-500: hsl(197, 49%, 38%);
  --clr-highlight-low: hsl(244, 18%, 15%);
  --clr-highlight-med: hsl(249, 15%, 28%);
  --clr-highlight-high: hsl(248, 13%, 36%);
  --clr-white: #e0def4;
  /* other */
  --border-01: 0.25rem;
  --border-02: 0.5rem;
  --border-03: 0.75rem;
  --transition-01: all 0.25s ease-in-out;
  --clr-text: var(--clr-white);
  --clr-main-bg: var(--clr-primary-900);
}

body {
  font-family: var(--ft-primary);
  background-color: var(--clr-main-bg);
}

img {
  width: 100%;
}

.main {
  margin-block: 5rem;
}

/* =============
paginations section
=============*/

.users__title {
  color: var(--clr-text);
  text-align: center;
  margin-bottom: 3rem;
}

.users-container {
  width: 90vw;
  max-width: 1150px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  gap: 2rem;
  margin-inline: auto;
  margin-bottom: 3rem;
}

.user {
  display: grid;
  height: 17rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: linear-gradient(
    to bottom right,
    var(--clr-primary-700),
    var(--clr-primary-800)
  );
  padding: 1.5rem;
  border-radius: var(--border-03);
}

.user__img {
  width: 8rem;
  height: 8rem;
  object-fit: cover;
  border-radius: 50%;
}

.user__name {
  color: var(--clr-text);
  font-size: 1rem;
  font-weight: 500;
  text-transform: capitalize;
}

.user__profile-link {
  color: var(--clr-text);
  font-size: 0.875rem;
  text-transform: uppercase;
  text-decoration: none;
  background-color: var(--clr-primary-900);
  padding: 0.5rem;
  border-radius: var(--border-03);
  transition: var(--transition-01);
}

.user__profile-link:hover {
  background-color: var(--clr-primary-700);
}

.users__btns {
  width: 80%;
  max-width: 900px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 1rem;
  row-gap: 1rem;
  margin-inline: auto;
}

.users__prev-btn,
.users__next-btn {
  color: var(--clr-text);
  font-weight: 500;
  background-color: transparent;
  padding: 0.25rem 0.75rem;
  border-color: transparent;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: var(--transition-01);
}

.users__prev-btn:hover,
.users__next-btn:hover {
  background-color: var(--clr-highlight-low);
}

.users__page-btn {
  width: 2rem;
  color: var(--clr-text);
  background-color: var(--clr-highlight-med);
  padding: 0.25rem 0.5rem;
  border-color: transparent;
  border-radius: var(--border-01);
  cursor: pointer;
  transition: var(--transition-01);
}

.users__page-btn:hover {
  background-color: var(--clr-highlight-high);
}

.users__page-btn--active,
.users__page-btn--active:hover {
  background-color: var(--clr-highlight-low);
}
