*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* =============
custom properties
=============*/

:root {
  /* fonts */
  --ft-primary: 'Poppins', sans-serif;
  /* colors */
  --clr-primary-200: hsl(245, 50%, 91%);
  --clr-primary-400: hsl(248, 15%, 61%);
  --clr-primary-500: hsl(249, 12%, 47%);
  --clr-primary-700: hsl(248, 25%, 18%);
  --clr-primary-800: hsl(247, 23%, 15%);
  --clr-primary-900: hsl(249, 22%, 12%);
  --clr-secondary-500: hsl(267, 57%, 78%);
  --clr-tertiary-500: hsl(197, 89%, 15%);
  --clr-highlight-low: hsl(244, 18%, 15%);
  --clr-highlight-med: hsl(249, 15%, 28%);
  --clr-highlight-high: hsl(248, 13%, 36%);
  --clr-white: #fffffe;
  /* other */
  --border-01: 0.25rem;
  --border-02: 0.5rem;
  --border-03: 0.75rem;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #fffffe;
}

img {
  width: 100%;
}

/* =============
nav
=============*/

.nav {
  width: 100%;
  position: absolute;
}

.nav-container {
  width: 90vw;
  margin-inline: auto;
}

/* nav header */
.nav__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.nav__toggle-btn {
  color: var(--clr-white);
  background-color: var(--clr-primary-800);
  padding: 0.2rem 0.75rem;
  border-color: transparent;
  border-radius: var(--border-03);
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}

.nav__toggle-btn:hover {
  background-color: var(--clr-primary-700);
}

/* navbar */
.navbar {
  display: none;
}

.nav__sign-in-btn {
  display: none;
}

/* sidebar */
.sidebar {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsla(249, 22%, 12%, 0.5);
}

.sidebar-container {
  width: 90vw;
  height: 95vh;
  background-color: var(--clr-white);
  padding: 2rem;
  border-radius: var(--border-03);
}

/* =============
hero section
=============*/

.hero {
  background: url(../images/hero.svg) no-repeat;
}

.hero-container {
  width: 90vw;
  height: 100vh;
  display: flex;
  align-items: center;
  margin-inline: auto;
}

.hero__title {
  max-width: 24rem;
  color: var(--clr-primary-800);
  font-size: 2.75rem;
  letter-spacing: 0.1rem;
  line-height: 1.25;
  margin-block: 0 2rem;
}

.hero__text {
  max-width: 30rem;
  color: var(--clr-primary-500);
  font-size: 0.875rem;
  line-height: 1.75;
  margin-bottom: 1.25rem;
}

.hero__start-btn {
  color: var(--clr-white);
  font-size: 1.05rem;
  background-color: var(--clr-primary-900);
  padding: 0.25rem 0.75rem;
  border-color: transparent;
  border-radius: var(--border-03);
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}

.hero__start-btn:hover {
  background-color: var(--clr-primary-800);
}

.hero__img-container {
  display: none;
}
