*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* =============
custom properties
=============*/

:root {
  /* fonts */
  --ft-primary: 'Poppins', sans-serif;
  /* colors */
  --clr-primary-200: hsl(245, 50%, 91%);
  --clr-primary-400: hsl(248, 15%, 61%);
  --clr-primary-500: hsl(249, 12%, 47%);
  --clr-primary-700: hsl(248, 25%, 18%);
  --clr-primary-800: hsl(247, 23%, 15%);
  --clr-primary-900: hsl(249, 22%, 12%);
  --clr-secondary-500: hsl(267, 57%, 78%);
  --clr-tertiary-500: hsl(197, 89%, 15%);
  --clr-highlight-low: hsl(244, 18%, 15%);
  --clr-highlight-med: hsl(249, 15%, 28%);
  --clr-highlight-high: hsl(248, 13%, 36%);
  --clr-white: #fffffe;
  /* other */
  --border-01: 0.25rem;
  --border-02: 0.5rem;
  --border-03: 0.75rem;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #fffffe;
}

img {
  width: 100%;
}

/* =============
nav
=============*/

.nav {
  width: 100%;
  position: absolute;
}

.nav-container {
  width: 90vw;
  max-width: 1170px;
  margin-inline: auto;
}

@media screen and (min-width: 800px) {
  .nav-container {
    display: grid;
    grid-template-columns: auto 50% auto;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
  }
}

/* nav header */
.nav__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

@media screen and (min-width: 800px) {
  .nav__header {
    margin-top: 0;
  }
}

.nav__open-btn,
.nav__sign-in-btn {
  color: var(--clr-white);
  background-color: var(--clr-primary-800);
  padding: 0.2rem 0.75rem;
  border-color: transparent;
  border-radius: var(--border-03);
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}

.nav__open-btn:hover,
.nav__sign-in-btn:hover {
  background-color: var(--clr-primary-700);
}

@media screen and (min-width: 800px) {
  .nav__open-btn {
    display: none;
  }
}

/* navbar */
.navbar {
  display: none;
}

.nav__sign-in-btn {
  display: none;
}

@media screen and (min-width: 800px) {
  .navbar {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    list-style-type: none;
  }

  .navbar__btn {
    width: 100%;
    color: var(--clr-white);
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: capitalize;
    background-color: transparent;
    border-color: transparent;
  }

  .nav__sign-in-btn {
    display: inline-block;
  }
}

/* sub-items */
.sub-items {
  display: none;
}

.sub-items--show {
  width: 600px;
  display: block;
  position: absolute;
  top: 4rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--clr-white);
  padding: 2rem;
  border-radius: var(--border-03);
}

.sub-items__triangle {
  display: none;
}

.sub-items__triangle--show {
  display: inline-block;
  width: 0.4rem;
  height: 0.4rem;
  position: absolute;
  top: 3.6rem;
  left: 50%;
  transform: translateX(-50%);
  border-top: 0;
  border-left: 0.4rem solid transparent;
  border-right: 0.4rem solid transparent;
  border-bottom: 0.4rem solid rgb(245, 245, 245);
}

.sub-items__title {
  color: var(--clr-primary-500);
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin-bottom: 1.5rem;
}

.sub-items__links {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 1rem;
}

.sub-items__link {
  color: var(--clr-highlight-med);
  font-size: 0.875rem;
  font-weight: bold;
  text-transform: capitalize;
  text-decoration: none;
}

.sub-items__icon {
  color: var(--clr-primary-400);
  margin-right: 0.5rem;
  transition: all 0.25s ease-in-out;
}

.sub-items__link:hover .sub-items__icon {
  color: var(--clr-highlight-med);
}

/* sidebar */
.sidebar {
  width: 0;
  height: 0;
  overflow: hidden;
}

@media screen and (min-width: 800px) {
  .sidebar {
    display: none;
  }
}

.sidebar--show {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsla(249, 22%, 12%, 0.5);
}

.sidebar--show .sidebar-container {
  width: 90%;
  height: 95%;
  background-color: var(--clr-white);
  border-radius: var(--border-03);
  animation: displaySidebar 0.5s;
}

@keyframes displaySidebar {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

.sidebar__header {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 1rem 1rem 0.5rem 1rem;
}

.sidebar__close-btn {
  color: var(--clr-highlight-high);
  font-size: 2rem;
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
}

.sidebar__links {
  width: 80%;
  margin-inline: auto;
  margin-bottom: 2rem;
}

.sidebar__title {
  font-size: 0.85rem;
  letter-spacing: 0.1rem;
  margin-bottom: 1rem;
}

.sidebar__sublinks {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(5rem, 50%));
  row-gap: 0.75rem;
}

.sidebar__link {
  color: var(--clr-highlight-low);
  font-size: 0.875rem;
  text-decoration: none;
}

.sidebar__icon {
  color: var(--clr-highlight-high);
  margin-right: 0.75rem;
}

/* =============
hero section
=============*/

.hero {
  background: url(../images/hero.svg) no-repeat;
  height: 100vh;
}

.hero-container {
  width: 90vw;
  max-width: 1150px;
  height: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-content: space-between;
  align-items: center;
  margin-inline: auto;
}

.hero__title {
  max-width: 24rem;
  color: var(--clr-primary-800);
  font-size: 2.75rem;
  letter-spacing: 0.1rem;
  line-height: 1.25;
  margin-block: 0 2rem;
}

.hero__text {
  color: var(--clr-primary-500);
  font-size: 0.875rem;
  line-height: 1.75;
  margin-bottom: 1.25rem;
}

.hero__start-btn {
  color: var(--clr-white);
  font-size: 1.05rem;
  background-color: var(--clr-primary-900);
  padding: 0.25rem 0.75rem;
  border-color: transparent;
  border-radius: var(--border-03);
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}

.hero__start-btn:hover {
  background-color: var(--clr-primary-800);
}

.hero__img-container {
  display: none;
}

@media screen and (min-width: 800px) {
  .hero {
    background-size: 100%;
  }

  .hero__title {
    font-size: 3rem;
    line-height: 1;
    margin-bottom: 1.975rem;
  }

  .hero__text {
    font-size: 1.25rem;
    line-height: 1.8;
  }

  .hero__img-container {
    display: flex;
    justify-content: center;
  }

  .hero__img {
    height: 24.25rem;
  }
}

@media screen and (min-width: 1200px) {
  .hero-container {
    height: 88%;
    align-items: end;
  }

  .hero__title {
    max-width: 45rem;
    font-size: 5.5rem;
  }

  .hero__text {
    max-width: 45rem;
  }

  .hero__img {
    height: 30rem;
  }
}
