*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* =============
global variables
=============*/

:root {
  /* fonts */
  --ft-primary: 'Poppins', sans-serif;
  /* colors */
  --clr-primary-200: hsl(245, 50%, 91%);
  --clr-primary-400: hsl(248, 15%, 61%);
  --clr-primary-500: hsl(249, 12%, 47%);
  --clr-primary-700: hsl(248, 25%, 18%);
  --clr-primary-800: hsl(247, 23%, 15%);
  --clr-primary-900: hsl(249, 22%, 12%);
  --clr-secondary-500: hsl(267, 57%, 78%);
  --clr-tertiary-500: hsl(35, 88%, 72%);
  --clr-highlight-low: hsl(244, 18%, 15%);
  --clr-highlight-med: hsl(249, 15%, 28%);
  --clr-highlight-high: hsla(248, 13%, 36%, 0.4);
  /* other */
  --border-01: 0.25rem;
  --border-02: 0.5rem;
  --border-03: 0.75rem;
}

body {
  font-family: var(--ft-primary);
  background-color: var(--clr-primary-900);
}

img {
  width: 100%;
}

/* =============
reviews section
=============*/

.reviews {
  width: 90vw;
  max-width: 48rem;
  margin-block: 6rem;
  margin-inline: auto;
}

.reviews__title {
  color: var(--clr-primary-200);
  text-align: center;
  margin-bottom: 4rem;
}

.reviews__title::before {
  content: '/';
  color: var(--clr-tertiary-500);
  font-size: 1.25rem;
  padding-right: 0.5rem;
}

/* slider */

.slider {
  display: grid;
  grid-template-columns: 2rem auto 2rem;
  align-items: center;
  column-gap: 1rem;
  row-gap: 2rem;
}

.slider__prev-btn,
.slider__next-btn {
  color: var(--clr-primary-400);
  background-color: var(--clr-highlight-med);
  padding: 0.25rem 0.5rem;
  border-radius: 100vmax;
  border-color: transparent;
  cursor: pointer;
}

.slider__prev-btn:hover,
.slider__next-btn:hover {
  background-color: var(--clr-highlight-high);
}

.slider__quote-icon {
  grid-column: 1 / -1;
  color: var(--clr-secondary-500);
  font-size: 3.5rem;
  text-align: center;
}

/* review */

.reviews-container {
  position: relative;
  height: 20rem;
  display: flex;
  overflow: hidden;
}

.review {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  opacity: 0;
  transition: all 0.25s ease-in-out;
}

.review--active {
  opacity: 1;
  transform: translateX(0);
}

.review--next {
  transform: translateX(100%);
}

.review--last {
  transform: translateX(-100%);
}

.review__img {
  width: 8rem;
  height: 8rem;
  object-fit: cover;
  background-color: var(--clr-primary-200);
  border-radius: 50%;
  border: 0.25rem solid var(--clr-primary-200);
  outline: 0.1rem solid var(--clr-highlight-med);
  margin-bottom: 1rem;
}

.review__name {
  color: var(--clr-secondary-500);
  font-size: 0.875rem;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 0.25rem;
}

.review__job {
  color: var(--clr-primary-400);
  font-size: 0.875rem;
  margin-bottom: 1rem;
}

.review__text {
  color: var(--clr-primary-200);
  font-size: 1rem;
  line-height: 1.5;
}
